{% with "0123456789" as numbers %}
<div class="row">
  <div class="col-md-12">
    <div class="imagem-pacote">
      <a href="/pacote/"><img class="img-responsive" src="http://lorempixel.com/878/300/city/{{ numbers|random }}"></a>
      <div class="desconto">
        <p>{{ numbers|random }}{{ numbers|random }}%</p>
        <p>OFF!!</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <h3><a href="/pacote/">{{ pacote.titulo }}</a></h3>
    {% if pacote.resumo %}
    <p><a href="/pacote/">{{ pacote.resumo }}</a></p>
    {% endif %}
  </div>
  <div class="col-md-5 detalhes">
    {% if size == "medium" %}
      <div class="row">
        <div class="col-md-12 precos">
          <p class="de"><em>De:</em> <del>R$ 1450</del></p>
          <p class="por"><em>Por:</em> 10 x R$ <span class="preco">{{ numbers|random }}{{ numbers|random }}</span></p>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-md-6">
          <a href="/pacote/" class="btn btn-primary">Ver detalhes</a>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 precos">
              <p class="de"><em>De:</em> <del>R$ 1450</del></p>
              <p class="por"><em>Por:</em> 10 x R$ <span class="preco">{{ numbers|random }}{{ numbers|random }}</span></p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endwith %}
