<div class="row">
  <div class="col-md-12">
    <img class="img-responsive" src="http://placehold.it/878x300">
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3>Pacote Reveillon no Rio</h3>
    <p>Rio de Janeiro - RJ</p>
  </div>
  <div class="col-md-4 detalhes">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary">Ver detalhes</button>
      </div>
      <div class="col-md-6">
        <p>De: R$ 100</p>
        <p>Por: R$ 423</p>
      </div>
    </div>
  </div>
</div>
