{% load fiber_tags %}
<div class="col-md-3 sidebar">
  <div class="white-box">
    {% show_content "Publicidade1" %}
  </div>
  <div class="fb-like-box" data-href="{{ empresa.url_facebook|default:'https://www.facebook.com/Intipbrasil' }}" data-width="263px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
  <div class="clearfix" style="margin-top:40px"></div>
  <div class="white-box">
    {% show_content "Publicidade2" %}
  </div>
</div>
