<!DOCTYPE html>{% load less fiber_tags %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ empresa.nome }}{% if fiber_page.title %} - {{ fiber_page.title }} {% endif %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:700,400,300' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL}}{% less 'less/main.less' %}" />
    <script src="{{ STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container top">
      <div class="row">
        <div class="col-md-4">
          {% if empresa.logo %}
          <a href="/">
            <img class="img-responsive" alt="{{ empresa.nome }}" title="{{ empresa.nome }}" src="{{ empresa.logo.url }}">
          </a>
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="pull-right">
            <ul class="nav-pills">
              <li><a href="">Entrar</a></li>
              <li><a href="">Como funciona?</a></li>
              <li><a href="">Fale conosco</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-12 top-actions">
            <div class="row">
              <div class="col-md-7 col-lg-6 col-xs-12 col-sm-12">
                <h2>
                  <i class="sprite big-marker pull-right"></i>
                  {% show_content "Título" %}
                </h2>
              </div>
              <div class="col-md-2">
              </div>
            </div>
            <div class="row hidden-sm hidden-xs">
              <div class="col-md-8">
                <div class="form-group">
                  <input type="text" class="pacote-search form-control" placeholder="Para onde você deseja ir?">
                  <div class="help-text">{% show_content "Busca Ajuda" %}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="container main-nav">
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  {% for destino in destinos %}
                  <li><a href="{% url 'core:destino' slug=destino.slug %}">{{ destino.titulo }}</a></li>
                  {% endfor %}
                </ul>
              </div>

            </nav>
          </div>
        </div>
      </div>
      <div class="container mid">
        {% if fiber_page.title %}
        <h1 class="titulo-pagina">{{ fiber_page.title }}</h1>
        {% endif %}
        {% if fiber_page.title %}
          <div class="row">
            <div class="col-md-9 page-content">
              <div class="white-well">
                {% show_page_content "content" %}
              </div>
            </div>
            {% include "includes/sidebar.html" %}
          </div>
        {% endif %}
        {% block body %}
        {% endblock %}
      </div>
      <div class="bot">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="menu">
                <h3>Sobre</h3>
                {% show_menu "Sobre" 1 1 "all" %}
              </div>
            </div>
            <div class="col-md-7">
              <div class="menu">
                <h3>Sobre</h3>
                <ul>
                  <li>Lorem.</li>
                  <li>Impedit.</li>
                  <li>Magni.</li>
                  <li>Consequatur.</li>
                </ul>
              </div>
            </div>
            <div class="col-md-3">
              <div class="menu">
                <h3>Sobre</h3>
                <ul>
                  <li>Lorem.</li>
                  <li>Impedit.</li>
                  <li>Magni.</li>
                  <li>Consequatur.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="faixa">
          <div class="container">
            <div class="col-md-3">
              <div class="title">
                <i class="sprite big-marker pull-right"></i>
                {% show_content "Título Rodapé" %}
              </div>
            </div>
            <div class="col-md-7 col-md-offset-2">
              <p class="copyright">© Copyright 2010/2013 Massa Viagens . Todos os direitos reservados.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="{{ STATIC_URL}}js/main.js"></script>
    <script src="{{ STATIC_URL}}js/hogan-2.0.0.js"></script>
    <script src="{{ STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL}}js/typeahead.min.js"></script>

    <script type="text/javascript">
    'use strict'
    $('input.pacote-search').typeahead({
      name: 'pacotes',
      // valueKey: 'name',
      prefetch: {url:'/pacotes.json', ttl:0},
      {% verbatim %}
      template: '<a href="{{url}}">{{value}}</a>',
      {% endverbatim %}
      engine: Hogan
    });
    </script>
    <!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5294b7c652fe15c3"></script>
<script type="text/javascript">
  addthis.layers({
    'theme' : 'transparent',
    'share' : {
      'position' : 'left',
      'numPreferredServices' : 5
    },
    'whatsnext' : {},
    'recommended' : {}
  });
</script>
<!-- AddThis Smart Layers END -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=147287675359347";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
    <style type="text/css" media="screen, projection">
      @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
    </style>
    <script type="text/javascript">
      if (typeof(Zenbox) !== "undefined") {
        Zenbox.init({
          dropboxID:   "{{ empresa.zendesk_dropbox }}",
          url:         "{{ empresa.zendesk_url }}",
          tabTooltip:  "Faça uma pergunta",
          tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_pt_questions_right.png",
          tabColor:    "#7fbb00",
          tabPosition: "Right"
        });
      }
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
