<!DOCTYPE html>{% load less %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Passeio Urbano</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL}}{% less 'less/main.less' %}" />
    <script src="{{ STATIC_URL}}js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container top">
      <div class="row">
        {% if empresa.logo %}
        <div class="col-md-4">
          <a href="/">
            <img class="img-responsive" alt="Passeio Urbano" title="Passeio Urbano" src="{{ empresa.logo.url }}">
          </a>
        </div>
        {% endif %}
        <div class="col-md-8 top-actions">
          <div class="row">
            <div class="col-md-12">
              <h2>Pacotes Promocionais Nacionais e Internacionais</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Para onde você deseja ir?">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Internacionais</a></li>
              <li><a href="#">Nordeste</a></li>
              <li><a href="#">Norte</a></li>
              <li><a href="#">Centro-oeste</a></li>
              <li><a href="#">Sudeste</a></li>
              <li><a href="#">Sul</a></li>
            </ul>
          </div>

        </nav>
      </div>
    </div>
    <div class="container mid">
      {% block body %}
      {% endblock %}
    </div>
    <div class="bot">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Sobre</h3>
            <ul>
              <li>Lorem.</li>
              <li>Impedit.</li>
              <li>Magni.</li>
              <li>Consequatur.</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Sobre</h3>
            <ul>
              <li>Lorem.</li>
              <li>Impedit.</li>
              <li>Magni.</li>
              <li>Consequatur.</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Sobre</h3>
            <ul>
              <li>Lorem.</li>
              <li>Impedit.</li>
              <li>Magni.</li>
              <li>Consequatur.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL}}js/plugins.js"></script>
    <script src="{{ STATIC_URL}}js/main.js"></script>
    <script src="{{ STATIC_URL}}js/bootstrap.min.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=147287675359347";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
    <style type="text/css" media="screen, projection">
      @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
    </style>
    <script type="text/javascript">
      if (typeof(Zenbox) !== "undefined") {
        Zenbox.init({
          dropboxID:   "{{ empresa.zendesk_dropbox }}",
          url:         "{{ empresa.zendesk_url }}",
          tabTooltip:  "Faça uma pergunta",
          tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_pt_questions.png",
          tabColor:    "#386e52",
          tabPosition: "Left"
        });
      }
    </script>
  </body>
</html>
