{% extends 'base.html' %}
{% load fiber_tags %}
{% block title %}
  {% if destino %}
    {{ empresa.nome }} - Pacotes em {{ destino.titulo }}
  {% else %}
    {{ empresa.nome }}
  {% endif %}
{% endblock %}
{% block body %}
<div class="row home">
  <div class="col-md-9">
    {% if destino %}
    <h1>Pacotes em {{ destino.titulo }}</h1>
    {% endif %}
    {% for pacote in object_list %}
    <div class="row pacote white-box">
      <div class="col-md-12">
        {% include 'includes/pacote.html' %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-3 sidebar">
    <div class="white-box">
      {% show_content "Publicidade1" %}
    </div>
    <div class="fb-like-box" data-href="{{ empresa.url_facebook|default:'https://www.facebook.com/Intipbrasil' }}" data-width="263px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
    <div class="white-box" style="margin-top:40px">
      {% show_content "Publicidade2" %}
    </div>
  </div>
</div>
{% endblock %}
