{% extends 'base.html' %}
{% load fiber_tags %}
{% block title %}
  {% if destino %}
    {{ empresa.nome }} - Pacotes em {{ destino.titulo }}
  {% else %}
    {{ empresa.nome }}
  {% endif %}
{% endblock %}
{% block body %}
{% if destino %}
<h1 class="titulo-pagina">Pacotes em {{ destino.titulo }}</h1>
{% elif query %}
<h1 class="titulo-pagina">Busca por "{{ query }}":</h1>
{% endif %}
<div class="row home">
  <div class="col-md-9">
    {% if query and not object_list %}
    <div class="white-well fail-busca">
      <h3>Sem resultados pra {{ query }}.</h3>
    </div>
    {% endif %}
    {% for pacote in object_list %}
    <div class="row pacote white-box">
      <div class="col-md-12">
        {% include 'includes/pacote.html' %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% include "includes/sidebar.html" %}
</div>
{% endblock %}
