{% extends 'base.html' %}
{% block body %}
<div class="row home">
  <div class="col-md-9">
    {% for pacote in object_list %}
    <div class="row pacote big">
      <div class="col-md-12">
        {% include 'includes/pacote.html' %}
      </div>
    </div>
    {% endfor %}
    <!-- <div class="row pacote">
      {% with size="medium" %}
      <div class="col-md-6">
        <div class="medium">
          {% include 'includes/pacote.html' %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="medium">
          {% include 'includes/pacote.html' %}
        </div>
      </div>
      {% endwith %}
    </div> -->
  </div>
  <div class="col-md-3">
    <img class="img-responsive" src="http://placehold.it/263x263">
    <div class="fb-like-box" data-href="http://www.facebook.com/FacebookDevelopers" data-width="263px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
    <img class="img-responsive" src="http://placehold.it/263x263" style="margin-top:40px">
  </div>
</div>
{% endblock %}
