{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{% if object.page_title %}{{ object.page_title }}{% else %}{{ object.titulo }}{% endif %} - {{ empresa.nome }}{% endblock %}
{% block description %}
  {% if object.description %}
    {{ object.description }}
  {% else %}
    {{ empresa.nome }}: {{ object.titulo }} - {{ object.destino }}. R$ {{ object.preco_por }}!!
  {% endif %}
{% endblock %}
{% block body %}
  <div class="row detalhes-pacote">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h1 class="titulo-pacote">{{ object.titulo }}</h1>
          <h2 class="destino"><i class="sprite sm-marker-black"></i> {{ object.destino }}</h2>
          <div class="fb-like" data-layout="standard" data-action="like" data-share="true"></div>
        </div>
      </div>
      {% if object.imagem_set.all %}
      <div class="row">
        <div class="col-md-12">
          <div class="carousel slide" id="galeria" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-wrapper">
              <div class="carousel-inner">
                {% for imagem in object.imagem_set.all %}
                <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                  <img class="img-responsive" src="{% thumbnail imagem.arquivo 848x300 crop %}">
                  <div class="carousel-caption">
                    {% if imagem.titulo %}
                    <h3>{{ imagem.titulo }}</h3>
                    {% endif %}
                    {% if imagem.texto %}
                    <p>{{ imagem.texto }}</p>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
               <!-- Controls -->
              <a class="left carousel-control" href="#galeria" data-slide="prev">
                <span class="sprite chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#galeria" data-slide="next">
                <span class="sprite chevron-right"></span>
              </a>
            </div>
            <div class="row hidden-xs">
              <ol class="carousel-indicators carousel-thumbs">
                {% for imagem in object.imagem_set.all %}
                <li data-target="#galeria" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %} col-md-3 col-sm-3"><img class="img-responsive" src="{% thumbnail imagem.arquivo 190x102 crop %}" alt=""></li>
                {% endfor %}
              </ol>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2>Descrição</h2>
            <p>{{ object.resumo }}</p>
            {{ object.texto|safe }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well incluso">
            <h2>Incluso no pacote:</h2>
            <div class="row">
              <ul class="itens-inclusos">
                {% if object.pessoas %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse pessoas"></i> <strong>{{ object.pessoas }} Pessoas</strong></p>
                </li>
                {% endif %}
                {% if object.diarias %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse diarias"></i> <strong>{{ object.diarias }} Diárias</strong></p>
                </li>
                {% endif %}
                {% if object.aereo %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse aereo"></i> <strong>Vôo de ida e volta</strong></p>
                </li>
                {% endif %}
                {% if object.transfer %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse transfer"></i> <strong>Transfer</strong></p>
                </li>
                {% endif %}
                {% if object.room_service %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse room_service"></i> Serviço de quarto</p>
                </li>
                {% endif %}
                {% if object.casino %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse casino"></i> Cassino</p>
                </li>
                {% endif %}
                {% if object.cofre %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse cofre"></i> Cofre</p>
                </li>
                {% endif %}
                {% if object.wifi %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse wifi"></i> Wi-fi</p>
                </li>
                {% endif %}
                {% if object.sauna %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse sauna"></i> Sauna</p>
                </li>
                {% endif %}
                {% if object.estacionamento %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse estacionamento"></i> Estacionamento</p>
                </li>
                {% endif %}
                {% if object.piscina %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse piscina"></i> Piscina</p>
                </li>
                {% endif %}
                {% if object.all_incluse %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse all-incluse"></i> All Incluse</p>
                </li>
                {% endif %}
                {% if object.salao_de_jogos %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse salao_de_jogos"></i> Salão de jogos</p>
                </li>
                {% endif %}
                {% if object.acessibilidade %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse acessibilidade"></i> Acessibilidade</p>
                </li>
                {% endif %}
                {% if object.crianca_gratis %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse crianca_gratis"></i> Crianças grátis</p>
                </li>
                {% endif %}
                {% if object.suite %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse suite"></i> Suíte</p>
                </li>
                {% endif %}
                {% if object.area_de_lazer %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse area_de_lazer"></i> Área de lazer</p>
                </li>
                {% endif %}
                {% if object.academia %}
                <li class="col-md-4 col-sm-6 item">
                  <p><i class="incluse academia"></i> Academia</p>
                </li>
                {% endif %}
              </ul>
            </div>
            {{ object.incluso|safe }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2>Opções para você:</h2>
            {% for variacao in object.get_variacoes %}
            <div class="col-md-12 variacao">
              <div class="row">
                <div class="col-md-9 col-sm-9">
                  <h3>{{ variacao.titulo }}</h3>
                  <div>{{ variacao.regras|safe }}</div>
                </div>
                {% for i in variacao.variacaopreco_set.all %}
                <div class="col-md-3 col-md-3 valor">
                  <p>R$ {{ i.preco }}</p>
                  <a href="{% url 'core:comprar' variacao.pk %}" class="btn btn-primary">
                    Comprar
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% if object.regulamento %}
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2>Regulamento</h2>
            {{ object.regulamento|safe }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if object.recomendacoes %}
      <div class="row">
        <div class="col-md-12">
          <div class="well recomendacoes">
            <h2>Recomendações</h2>
            {{ object.recomendacoes|safe }}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 sidebar hidden-sm hidden-xs">
      <div class="well comprar">
      {% for variacao in object.get_variacoes|slice:"0:1" %}
        {% for i in variacao.variacaopreco_set.all|slice:":1" %}
        <h3>{{ object.titulo }}</h3>
        <h4><i class="sprite mini-marker-black pull-left"></i> {{ object.destino }}</h4>
        <p class="de">De: R$ {{ object.preco_de }}<br>
        <span class="desconto">Desconto: {{ object.desconto }}%</span></p>
        <p class="final">Preço final: <br>
        <span class="preco">R$ {{ i.preco }}</span><br>
        Em até 18 vezes!</p>
        <p class="taxas">A incluir taxas e encargos</p>

        <a href="{% url 'core:comprar' variacao.pk %}" class="btn btn-primary">
          Compre agora!
        </a>
        {% endfor %}
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts%}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'protour'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endblock %}
