{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{ empresa.nome }} - {{ object.titulo }}{% endblock %}
{% block body %}
  <div class="row detalhes-pacote">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h1 class="titulo-pacote">{{ object.titulo }}</h1>
          <h2 class="destino"><i class="sprite sm-marker-black"></i> {{ object.destino }}</h2>
        </div>
      </div>
      {% if object.imagem_set.all %}
      <div class="row">
        <div class="col-md-12">
          <div class="carousel slide" id="galeria" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-wrapper">
              <div class="carousel-inner">
                {% for imagem in object.imagem_set.all %}
                <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                  <img class="img-responsive" src="{% thumbnail imagem.arquivo 848x300 crop %}">
                  <div class="carousel-caption">
                    {% if imagem.titulo %}
                    <h3>{{ imagem.titulo }}</h3>
                    {% endif %}
                    {% if imagem.texto %}
                    <p>{{ imagem.texto }}</p>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
               <!-- Controls -->
              <a class="left carousel-control" href="#galeria" data-slide="prev">
                <span class="sprite chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#galeria" data-slide="next">
                <span class="sprite chevron-right"></span>
              </a>
            </div>
            <div class="row">
              <ol class="carousel-indicators carousel-thumbs">
                {% for imagem in object.imagem_set.all %}
                <li data-target="#galeria" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %} col-md-3"><img class="img-responsive" src="{% thumbnail imagem.arquivo 190x102 crop %}" alt=""></li>
                {% endfor %}
              </ol>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2>Descrição</h2>
            <p>{{ object.resumo }}</p>
            {{ object.texto|safe }}
          </div>
        </div>
      </div>
      {% if object.incluso %}
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2>Incluso no pacote:</h2>
            {{ object.incluso|safe }}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="well">
        <div class="row">
          <div class="col-md-12">
            <h2>Opções para você:</h2>
          </div>
        </div>
        {% for variacao in object.get_variacoes %}
        <div class="row variacao">
          <div class="col-md-9">
            {{ variacao.titulo }}
          </div>
          {% for i in variacao.variacaopreco_set.all %}
          <div class="col-md-3">
            <p>R$ {{ i.preco }}</p>
            <a href="/comprar/{{ i.pk }}" class="btn btn-primary">
              Comprar
            </a>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% if object.regulamento %}
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2>Regulamento</h2>
            {{ object.regulamento|safe }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if object.recomendacoes %}
      <div class="row">
        <div class="col-md-12">
          <div class="well">
            <h2>Recomendações</h2>
            {{ object.recomendacoes|safe }}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-md-3">
      <div class="well comprar">
      {% for variacao in object.get_variacoes|slice:"0:1" %}
        {% for i in variacao.variacaopreco_set.all|slice:":1" %}
        <h3>{{ object.titulo }}</h3>
        <h4><i class="sprite mini-marker-black pull-left"></i> {{ object.destino }}</h4>
        <p class="de">De: R$ {{ object.preco_de }}<br>
        <span class="desconto">Desconto: {{ object.desconto }}%</span></p>
        <p class="final">Preço final: <br>
        <span class="preco">R$ {{ i.preco }}</span><br>
        Em até 18 vezes!</p>
        <p class="taxas">A incluir taxas e encargos</p>

        <a href="/comprar/{{ i.pk }}" class="btn btn-primary">
          Compre agora
        </a>
        {% endfor %}
      {% endfor %}
      </div>
      <div class="well">
        Compartilhe
      </div>
    </div>
  </div>
{% endblock %}
