@import "bootstrap/bootstrap.less";

// Mixins {
.border-radius (@nw: 5px; @ne: 5px; @se: 5px; @sw: 5px ) {
  -webkit-border-radius: @nw @ne @se @sw;
  -moz-border-radius: @nw @ne @se @sw;
  -ms-border-radius: @nw @ne @se @sw;
  -o-border-radius: @nw @ne @se @sw;
  border-radius: @nw @ne @se @sw;
}

.box-shadow (@x: 0; @y: 0; @blur: 1px; @color: #000; ) {
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}

.white-well {
    background-color: #FFF;
    .border-radius();
    .box-shadow(0; 0; 8px; rgba(100,100,100,.15));
    font-size: 16px;

    ol {
        counter-reset:li;
        > li {
            list-style: none;
            margin: 25px 0;
            position: relative;
            padding-left: 15px;
        }
        > li:before {
            background-color: @brand-primary;
            .border-radius();
            color: #FFF;
            content: counter(li);
            counter-increment: li;
            font-size: 18px;
            font-weight: 700;
            left: -40px;
            padding: 5px 0;
            position: absolute;
            text-align: center;
            top: -8px;
            width: 38px;
        }
    }

    h2 {
        color: @brand-success;
        font-weight: 400;
        font-size: 32px;
        margin-top: 0;
    }

    h3 {
        font-weight: 400;
        color: @brand-primary;
        margin-top: 10px;
    }

}

.grey-bot {
    border-bottom: 2px solid #e5e5e5;
}

// } Mixins
body{
    color: #555;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

#fb-root {
    display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    margin-top: 10px;
    width: 100% !important;
}

@import "sprite.less";

@import "topo.less";

// Content {
.content-block {
    background-color: #e5e5e5
}

.titulo-pagina {
    color: @brand-primary;
    font-size: 42px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.white-box {
    margin: 0 0 20px 0;
    .border-radius(10px; 10px; 10px; 10px);
    background-color: #FFF;
    .box-shadow(0; 0; 8px; rgba(100,100,100,.15));

    &:hover {
        border: 5px solid @brand-primary;
        margin: -5px -5px 5px -5px;
    }
}

// Pacote na home
.home .pacote {
    margin-bottom: 35px;
    &:hover {
        .border-radius(15px; 15px; 10px; 10px);
        margin-bottom: 30px;
    }

    @media (max-width: @screen-md-max) and (min-width: @screen-sm-min) {
        .col-md-2 {
            padding-left: 8px;
            padding-right: 8px;
        }
        .col-md-2 {
            width: 15.9%;
        }
    }

    .imagem-pacote {
        position: relative;
    }

    .titulo-local {
        position: absolute;
        top:20px;
        left:20px;
        text-shadow: #000 0 2px;
        h3 {
            font-size: 40px;
            margin: 0;
            a {
                color: #FFF;
                font-weight:100;
            }
        }
        h4 {
            color: #FFF;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .incluso {
        position: absolute;
        bottom: 0;
        left: 20px;
        background-color: #FFF;
        font-size: 18px;
        padding: 15px 20px 0 20px ;
        .border-radius(5px, 5px, 0, 0)
    }

    .imagem-pacote img {
        .border-radius(10px; 10px; 0; 0);
    }

    .overlay {
        .border-radius(10px; 10px; 0; 0);
        bottom: 0;
        position: absolute;
        width: 100%;
        top: 0;
        #gradient > .directional(rgba(0, 0, 0, 0.5); rgba(255,255,255, 0) 45%; 158deg;)
    }

    .infos {
        padding-top: 10px;
        padding-bottom: 10px;

        .description {
            font-size: 16px;
            line-height: 30px;

            .icon {
                margin-right: 10px;
            }

        }

    }

    .precos {
        text-align: right;
        padding-top: 10px;
        @media (max-width: @screen-xs-max) {
            text-align: left;
            .de {
                margin-top: 15px;
            }
        }
    }

    .de {
        margin: 0;
    }

    .precos {
        font-size: 18px;
        @media (max-width: @screen-md-max) and (min-width: @screen-sm-min) {
            font-size: 16px;
        }
        .por span {
            color: @brand-success;
            font-size: 32px;
            font-weight: bold;
            @media (max-width: @screen-md-max){
                font-size: 28px;
            }
        }
    }

    .desconto {
        background-color: #e5e5e5;
        font-size: 20px;
        text-align: center;
        .border-radius();
        .valor {
            margin-top: -10px;
            font-size: 48px;
        }
    }

    .detalhes {
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        padding: 20px 10px;
        white-space: normal;
        @media (max-width: @screen-xs-max){
            width: 100%;
        }
    }
}

// Sidebar

.sidebar {
    .white-box {
        padding:10px 15px;
        a {
            color: #555;
            &:hover {
                text-decoration: none;
            }
        }
        h2 {
            margin: 0 0 5px 0;
            font-weight: 400;
            font-size: 26px;
        }
        h3 {
            margin: 0 0 5px 0;
            font-size: 22px;
            font-weight: 400;
        }
        h4 {
            margin: 0 0 5px 0;
            font-size: 20px;
            font-weight: 400;
        }
        img {
            float: left;
            margin: 10px 15px 10px 10px;
        }
        p {
            font-size: 16px;
        }
    }
    .facebook {
        margin-bottom: 30px;
        margin-top: -25px;
    }
    iframe {
        background-color: #FFF;
    }
}

// Rodapé
.bot {
    border-top: 2px solid @brand-success;
    margin-top: 20px;
    background-image:url('../imgs/map2.png');
    background-position: center 30px;
    padding-top: 15px;
    padding-bottom: 50px;
    background-repeat: repeat no-repeat;

    .menu {
        padding: 0 20px;
        p {
            margin: 0;
        }
        &.horizontal li {
            display: block;
            width: 33.33333333333333%;
            float:left;
        }
        @media (max-width: @screen-md-max){
            padding: 0;
        }
    }

    h3 {
        color: @brand-primary;
        border-bottom: 2px solid #c3c3c3;
        font-size: 26px;
        font-weight: 400;
        padding-bottom: 10px;
    }

    ul {
        line-height: 22px;
        list-style: none;
        padding: 0;
    }

    li a {
        color: #555;
        font-size: 16px;
    }

    .faixa {
        color: #FFF;
        margin-top: 25px;
        padding: 25px;
        .title {
            font-size: 48px;
            font-weight: 300;
        }
        .copyright {
            font-size: 18px;
            margin-top: 16px;
        }
    }

}

// Detalhes pacote

.detalhes-pacote {
    .variacao {
        margin-bottom: 25px;
    }

    .titulo-pacote {
        color: @brand-primary;
        font-size: 42px;
        margin-top: -5px;
    }

    .destino {
        color: #555;
        font-weight: 400;
        font-size: 24px;
        margin-top: 0px;
    }

    .well {
        .white-well;
        padding: 12px 15px;

        font-size: 16px;

    }

    .variacao {
        padding: 0;
        border-top: 2px solid #e3e3e3;

        .valor {
            color: @brand-success;
            font-weight: 700;
            text-align: center;
            p {
                font-size: 26px;
            }
            .btn {
                font-weight: 700;
                font-size: 26px;
            }
        }
    }
    .recomendacoes ul {
        li {
            list-style: none;
            margin: 25px 0;
            padding-left: 15px;
            position: relative;
            &:before {
                .sprite();
                background-position: -408px -7px;
                content: ' ';
                height: 28px;
                left: -30px;
                position: absolute;
                top: -6px;
                width: 26px;
            }
        }
    }

    .comprar {
        h3 {
            color: @brand-primary;
            font-weight: 400;
            font-size: 22px;
            margin: 0;
        }
        h4 {
            font-size: 14px;
            font-weight: 400;
            padding-bottom: 14px;
            border-bottom: 2px solid #e3e3e3;
            margin-top: 4px;
        }
        p {
            font-size: 16px;
            text-align: center;
        }
        .preco {
            color: @brand-success;
            font-size: 42px;
            font-weight: 700;
            line-height: 48px;
        }
        .taxas {
            color: #999;
            font-size: 14px;
        }
        .btn {
            font-size: 24px;
            font-weight: 700;
            width: 100%;
        }
    }
}


.carousel {
    .sprite {
        background-color: @brand-primary;
        .border-radius(100%; 100%; 100%; 100%);
        display: inline-block;
        margin-top: -18px;
        padding: 18px;
        position: absolute;
        top: 50%;
        z-index: 5;
        &.chevron-left {
            left: 11px;
        }
        &.chevron-right {
            right: 11px;
        }
    }
    .carousel-wrapper {
        position: relative;
    }
    .carousel-inner {
        margin-bottom: 14px;
        .box-shadow(0; 0; 8px; rgba(100,100,100,.15));
        img {
            .border-radius();
        }
    }
}

.carousel-thumbs.carousel-indicators {
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;

    > li {
        display: block;
        height: auto;
        width: 25%;
        margin: 0 0 30px 0;
        border: 0;

        &.active {
            width: 25%;
            height:auto;
            background-color: transparent;
            margin: 0px 0px 27px 0px;
        }
    }

    > li.active img {
        opacity: 1;
        border: 4px solid @brand-primary;
        // Não consegui colocar margem nessas imagens
    }

    img {
        width: 100%;
        .border-radius(7px, 7px, 7px, 7px);
        opacity: 0.6;
        .box-shadow(0; 0; 8px; rgba(100,100,100,.15));
    }
}

// Tela de pagamento
.checkout {
    .white-well {
        padding: 20px;
    }
    .title {
        color: @brand-primary;
        font-size: 42px;
        margin-top: 0;
    }

    .pacote {
        h1 {
            color: @brand-primary;
            font-size: 26px;
            font-weight: 400;
            margin: 0 0 2px 0;
        }
        h2 {
            font-size: 14px;
            color: #555;
            margin-top: 0;
        }
        .grey-bot {
            padding-bottom: 12px;
        }
        img {
            margin-right: 14px;
            .box-shadow();
        }
    }

    .variacao {
        font-size: 16px;
        font-weight: 700;
        margin: 20px 0;
    }

    .table {
        font-size: 20px;
        font-weight: 700;
        .grey-bot();
        margin-bottom: 10px;
        text-align: center;
        thead {
            background-color: #e5e5e5;
        }
        input {
            display: inline-block;
            height: 45px;
            margin-right: 5px;
            width: 55px;
        }
        td {
            line-height: 2.1;
        }
        .taxas {
            color: @brand-success
        }
    }

    .total {
        padding: 0 15px;
        text-align: right;
        .grey-bot {
            .grey-bot();
            .col-md-6 {
                padding: 0;
            }
        }
        p {
            font-size: 20px;
            font-weight: 700;
        }
        #total {
            background-color: #e5e5e5;
            color: @brand-success;
            font-size: 32px;
            padding: 20px;
            display: inline-block;
            .border-radius();
            margin-left: 15px;
        }
    }

    .submit {
        padding-top: 23px;
        font-size: 18px;
        p {
            margin: 0;
        }
        .btn {
            width: 100%;
            font-size: 24px;
            font-weight: 700;
            white-space: normal;
        }
    }
}

// busca
.fail-busca {
    padding: 20px;
}

// interna de texto {
.page-content {
    .white-well {
        padding: 20px;
    }
    img {
        float: left;
        margin-right: 20px;
    }
}
// } interna de texto


// Fiber {

#df-wpr-sidebar {
    z-index: 100900 !important;
}

ul.ui-context-menu {
    z-index: 101000 !important;
}

// } Fiber
